#oui{
	background : #050401;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.buton{
	display: flex;
	background: #303036;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	margin: 5 auto;
    padding: 10 ;
    font-size: 25;
	color: #FFFAFF;
	min-height: 60;
	width: auto;
	max-width: 200;
	border-radius: 6px;
	cursor: pointer;
	transition: all .2s ease-in-out; 
	
}

.buton:hover{
	color: #FC5130;
	transform: scale(1.04); 
}